<!DOCTYPE html>
<html>
<head>
  <title>User registration</title>
  
<script>
  // Function to handle voting
  function usrregister() {
    const firstName = document.getElementById("fname");
    const lastName = document.getElementById("lname");
    const emailID = document.getElementById("emailid");
  }
</script>
</head>
<body>
  <div class="userprofile">
    <h1>Welcome to the registration page</h1>
    <table>
      <tr>
        <td>First Name</td>
        <td> 
          <input type="text" id="fname" value="">
        </td>
      </tr>
      <tr>
        <td>Last Name</td>
        <td> 
          <input type="text" id="lname" value="">
        </td>
      </tr>
      <tr>
        <td>Email Id</td>
         <td> 
          <input type="email" id="emailid" value="">
        </td>
      </tr>
    </table>
    <button onclick="usrregister()"> Submit </button>
  </div>
</body>
</html>
